@model ShoeStoreMvc.Models.HomeViewModel

<section id="intro" class="position-relative mt-4">
    <div class="container-lg">
        <div class="swiper main-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card d-flex flex-row align-items-end border-0 large jarallax-keep-img">
                        <img src="~/stylish-free/images/card-image1.jpg" alt="shoes" class="img-fluid jarallax-img">
                        <div class="cart-concern p-3 m-3 p-lg-5 m-lg-5">
                            <h2 class="card-title display-3 light">Şık tasarımlar</h2>
                            <a href="/Product/ShoeList"
                               class="text-uppercase light mt-3 d-inline-block text-hover fw-bold light-border">Alışverişe Başla</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row g-4">
                        <div class="col-lg-12 mb-4">
                            <div class="card d-flex flex-row align-items-end border-0 jarallax-keep-img">
                                <img src="~/stylish-free/images/card-image2.jpg" alt="shoes" class="img-fluid jarallax-img">
                                <div class="cart-concern p-3 m-3 p-lg-5 m-lg-5">
                                    <h2 class="card-title style-2 display-4 light">Spor Ayakkabılar</h2>
                                    <a href="/Product/ShoeList"
                                       class="text-uppercase light mt-3 d-inline-block text-hover fw-bold light-border">Alışverişe Başla</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card d-flex flex-row align-items-end border-0 jarallax-keep-img">
                                <img src="~/stylish-free/images/card-image3.jpg"alt="shoes" class="img-fluid jarallax-img">
                                <div class="cart-concern p-3 m-3 p-lg-5 m-lg-5">
                                    <h2 class="card-title style-2 display-4 light">Trend Ürüler</h2>
                                    <a href="/Product/ShoeList"
                                       class="text-uppercase light mt-3 d-inline-block text-hover fw-bold light-border">Alışverişe Başla</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card d-flex flex-row align-items-end border-0 large jarallax-keep-img">
                        <img src="~/stylish-free/images/card-image4.jpg" alt="shoes" class="img-fluid jarallax-img">
                        <div class="cart-concern p-3 m-3 p-lg-5 m-lg-5">
                            <h2 class="card-title display-3 light">Erkek Ayakkabıları</h2>
                            <a href="/Product/ShoeList"
                               class="text-uppercase light mt-3 d-inline-block text-hover fw-bold light-border">Alışverişe Başla</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row g-4">
                        <div class="col-lg-12 mb-4">
                            <div class="card d-flex flex-row align-items-end border-0 jarallax-keep-img">
                                <img src="~/stylish-free/images/card-image5.jpg" alt="shoes" class="img-fluid jarallax-img">
                                <div class="cart-concern p-3 m-3 p-lg-5 m-lg-5">
                                    <h2 class="card-title style-2 display-4 light">Kadın Ayakkabıları</h2>
                                    <a href="/Product/ShoeList"
                                       class="text-uppercase light mt-3 d-inline-block text-hover fw-bold light-border">Alışverişe Başla</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card d-flex flex-row align-items-end border-0 jarallax-keep-img">
                             <img src="~/stylish-free/images/card-image6.jpg"alt="shoes" class="img-fluid jarallax-img">
                                <div class="cart-concern p-3 m-3 p-lg-5 m-lg-5">
                                    <h2 class="card-title style-2 display-4 light">Fırsat Ürünleri</h2>
                                    <a href="/Product/ShoeList"
                                       class="text-uppercase light mt-3 d-inline-block text-hover fw-bold light-border">Alışverişe Başla</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section id="company-services" class="py-2 my-2 py-md-5 my-md-5 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 pb-3">
                <div class="icon-box d-flex align-items-baseline pe-3 pb-3">
                    <div class="icon-box-icon">
                        <svg class="text-dark mt-3">
                            <use xlink:href="#shopping-carriage"></use>
                        </svg>
                    </div>
                    <div class="icon-box-content ps-3">
                        <h3 class="card-title text-dark fs-5">Hızlı &amp; Ücretsiz Kargo</h3>
                        <p class="fs-6">Paketiniz 3 iş günü içinde kapınızda</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-3">
                <div class="icon-box d-flex align-items-baseline pe-3 pb-3">
                    <div class="icon-box-icon">
                        <svg class="text-dark mt-3">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </div>
                    <div class="icon-box-content ps-3">
                        <h3 class="card-title text-dark fs-5">Kalite Garantisi</h3>
                        <p class="fs-6">Sizin için birinci kalite üretilmiş ayakkabılar</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-3">
                <div class="icon-box d-flex align-items-baseline pe-3 pb-3">
                    <div class="icon-box-icon">
                        <svg class="text-dark mt-3">
                            <use xlink:href="#shopping-cart"></use>
                        </svg>
                    </div>
                    <div class="icon-box-content ps-3">
                        <h3 class="card-title text-dark fs-5"> Canlı Destek</h3>
                        <p class="fs-6">Çağrı Merkezimiz 7/24 hizmetinizde</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pb-3">
                <div class="icon-box d-flex align-items-baseline pb-3">
                    <div class="icon-box-icon">
                        <svg class="text-dark mt-3">
                            <use xlink:href="#pinterest"></use>
                        </svg>
                    </div>
                    <div class="icon-box-content ps-3">
                        <h3 class="card-title text-dark fs-5">100% Güvenli Ödeme</h3>
                        <p class="fs-6">3D Secure ile güvenli ödeme imkanı</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="trending-products">
    <div class="container-lg">
        <div class="row">
            <h2 class="text-center">Yeni Trend</h2>
            <div class="products-tabs mt-4">
                <ul class="nav nav-normal-tabs mb-3 justify-content-center" id="tabs-tab" role="tablist">

                    @{
                        int index = 0;
                    }

                    @foreach (var category in Model.Categories)
                    {
                        <li class="nav-item pe-3 me-3" role="presentation">

                            <button class="nav-link fs-5 text-dark border-0 bg-transparent @(index == 0 ? "active" : "") p-0 lh-1"
                                    id="tab-@category.Id"
                                    data-bs-toggle="pill"
                                    data-bs-target="#category-@category.Id"
                                    type="button"
                                    role="tab">

                                @category.CategoryName

                            </button>

                        </li>

                        index++;
                    }

                </ul>
                <div class="tab-content">

                    @{
                        int tabIndex = 0;
                    }

                    @foreach (var category in Model.Categories)
                    {
                        <div class="tab-pane fade @(tabIndex == 0 ? "show active" : "")"
                             id="category-@category.Id"
                             role="tabpanel">

                            <div class="row">

                                @foreach (var shoe in Model.Shoes.Where(x => x.CategoryId == category.Id).ToList())
                                {
                                    <div class="col-lg-3 mb-4">

                                        <a href="/Product/Index/@shoe.Id" class="text-decoration-none text-dark">
                                            <div class="product-card position-relative">

                                            <div class="card-img">

                                                <img src="@shoe.ImageUrl"
                                                     alt="@shoe.ShoeName"
                                                     class="product-image img-fluid">

                                            </div>

                                            <div class="card-detail d-flex justify-content-between align-items-center mt-3">

                                                <h3 class="card-title fs-6 fw-normal m-0">
                                                    @shoe.ShoeName
                                                </h3>

                                                <span class="card-price fw-bold">
                                                    @shoe.Price TL
                                                </span>

                                            </div>

                                        </div>
                                        </a>

                                    </div>
                                }

                            </div>

                        </div>

                        tabIndex++;
                    }

                </div>
            </div>
        </div>
    </div>
</section>