@model MyDpprProject.Models.Property



<section id="page-billboard">
    <div class="container padding-medium-2 ">
        <div class="page-billboard-container text-center">
            <div class="my-3 "> <h1 class=" text-capitalize lh-1 mb-4">@Model.Title</h1>
                <div class="d-flex justify-content-center"> <p class="fs-5 ">@Model.Address </p>
                    <p class="text-primary">&nbsp; | &nbsp;</p>
                    <p class="fs-5 fw-semibold"> @Model.TypeName </p> 
    <p class="text-primary">&nbsp; | &nbsp;</p>
    <p class="fs-5 fw-semibold"> @Model.Price ₺</p> 
</div>
</div> 
</div>
</div> 
</section>


  <div class="container">

    <div class="row">
      <main class="post-grid col-md-9">
        <div class="row">
          <article class="property">

            <div class="row flex-column">
              <div class="col-md-12">
                <!-- product-large-slider -->
                <div class="swiper product-large-slider swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden">
                  <div class="swiper-wrapper" id="swiper-wrapper-9b1885c010aa56e1" aria-live="off" style="transition-duration: 0ms;">
                    <div class="swiper-slide swiper-slide-prev" style="width: 966px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="1 / 8" data-swiper-slide-index="0">
                      <img src="~/images/item-large6.jpg" alt="product-large" class="img-fluid">
                    </div>
                    <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 966px; opacity: 1; transform: translate3d(-966px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="2 / 8" data-swiper-slide-index="1">
                      <img src="~/images/item-large8.jpg" alt="product-large" class="img-fluid">
                    </div>
                    <div class="swiper-slide swiper-slide-next" style="width: 966px; opacity: 0; transform: translate3d(-1932px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="3 / 8" data-swiper-slide-index="2">
                      <img src="~/images/item-large1.jpg" alt="product-large" class="img-fluid">
                    </div>
                    <div class="swiper-slide" style="width: 966px; opacity: 0; transform: translate3d(-2898px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="4 / 8" data-swiper-slide-index="3">
                      <img src="~/images/item-large7.jpg" alt="product-large" class="img-fluid">
                    </div>
                    <div class="swiper-slide" style="width: 966px; opacity: 0; transform: translate3d(-3864px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="5 / 8" data-swiper-slide-index="4">
                      <img src="~/images/item-large2.jpg" alt="image" class="thumb-image img-fluid">
                    </div>
                    <div class="swiper-slide" style="width: 966px; opacity: 0; transform: translate3d(-4830px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="6 / 8" data-swiper-slide-index="5">
                      <img src="~/images/item-large3.jpg" alt="product-large" class="img-fluid">
                    </div>
                    <div class="swiper-slide" style="width: 966px; opacity: 0; transform: translate3d(-5796px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="7 / 8" data-swiper-slide-index="6">
                      <img src="~/images/item-large4.jpg" alt="product-large" class="img-fluid">
                    </div>
                    <div class="swiper-slide" role="group" aria-label="8 / 8" style="width: 966px; opacity: 0; transform: translate3d(-6762px, 0px, 0px); transition-duration: 0ms;" data-swiper-slide-index="7">
                      <img src="~/images/item-large5.jpg" alt="product-large" class="img-fluid">
                    </div>

                  </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                <!-- / product-large-slider -->
              </div>
              <div class="col-md-12 mt-2">
                <!-- product-thumbnail-slider -->
                <div thumbsslider="" class="swiper product-thumbnail-slider swiper-initialized swiper-horizontal swiper-free-mode swiper-watch-progress swiper-backface-hidden swiper-thumbs">
                  <div class="swiper-wrapper" id="swiper-wrapper-3527de71099f551ad" aria-live="off" style="transform: translate3d(-730.5px, 0px, 0px); transition-duration: 0ms;">
                    
                    
                    
                    
                    
                    
                    
                    

                  <div class="swiper-slide" style="width: 235.5px; margin-right: 8px;" role="group" aria-label="1 / 8" data-swiper-slide-index="0">
                      <img src="~/images/item12.jpg" alt="image" class="thumb-image img-fluid">
                    </div><div class="swiper-slide swiper-slide-thumb-active" style="width: 235.5px; margin-right: 8px;" role="group" aria-label="2 / 8" data-swiper-slide-index="1">
                      <img src="~/images/item14.jpg" alt="image" class="thumb-image img-fluid">
                    </div><div class="swiper-slide swiper-slide-prev" style="width: 235.5px; margin-right: 8px;" role="group" aria-label="3 / 8" data-swiper-slide-index="2">
                      <img src="~/images/item9.jpg" alt="image" class="thumb-image img-fluid">
                    </div><div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 235.5px; margin-right: 8px;" role="group" aria-label="4 / 8" data-swiper-slide-index="3">
                      <img src="~/images/item13.jpg" alt="image" class="thumb-image img-fluid">
                    </div><div class="swiper-slide swiper-slide-visible swiper-slide-next" style="width: 235.5px; margin-right: 8px;" role="group" aria-label="5 / 8" data-swiper-slide-index="4">
                      <img src="~/images/item6.jpg" alt="image" class="thumb-image img-fluid">
                    </div><div class="swiper-slide swiper-slide-visible" style="width: 235.5px; margin-right: 8px;" role="group" aria-label="6 / 8" data-swiper-slide-index="5">
                      <img src="~/images/item7.jpg" alt="image" class="thumb-image img-fluid">
                    </div><div class="swiper-slide swiper-slide-visible" style="width: 235.5px; margin-right: 8px;" role="group" aria-label="7 / 8" data-swiper-slide-index="6">
                      <img src="~/images/item10.jpg" alt="image" class="thumb-image img-fluid">
                    </div><div class="swiper-slide" role="group" aria-label="8 / 8" style="width: 235.5px; margin-right: 8px;" data-swiper-slide-index="7">
                      <img src="~/images/item11.jpg" alt="image" class="thumb-image img-fluid">
                    </div></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                <!-- / product-thumbnail-slider -->
              </div>

            </div>

            <div class="post-content py-5">

              <div class="overview my-5">
                <h3 class="fs-2 mb-4">Property Overview</h3>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mt-1">
                  <div class="col d-flex align-items-start">
                    <iconify-icon icon="material-symbols:bed-outline" class="property-icon border p-3"><template shadowrootmode="open"><style data-style="data-style">:host{display:inline-block;vertical-align:0}span,svg{display:block}</style><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M2 19v-6q0-.675.275-1.225T3 10.8V8q0-1.25.875-2.125T6 5h4q.575 0 1.075.213T12 5.8q.425-.375.925-.587T14 5h4q1.25 0 2.125.875T21 8v2.8q.45.425.725.975T22 13v6h-2v-2H4v2zm11-9h6V8q0-.425-.288-.712T18 7h-4q-.425 0-.712.288T13 8zm-8 0h6V8q0-.425-.288-.712T10 7H6q-.425 0-.712.288T5 8zm-1 5h16v-2q0-.425-.288-.712T19 12H5q-.425 0-.712.288T4 13zm16 0H4z"></path></svg></template></iconify-icon>
                    <div class="ms-4">
                      <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Bedroom</h3>
                      <p>7</p>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <iconify-icon icon="material-symbols:shower-outline" class="property-icon border p-3"><template shadowrootmode="open"><style data-style="data-style">:host{display:inline-block;vertical-align:0}span,svg{display:block}</style><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M8 18q-.425 0-.712-.288T7 17t.288-.712T8 16t.713.288T9 17t-.288.713T8 18m4 0q-.425 0-.712-.288T11 17t.288-.712T12 16t.713.288T13 17t-.288.713T12 18m4 0q-.425 0-.712-.288T15 17t.288-.712T16 16t.713.288T17 17t-.288.713T16 18M5 14v-2q0-2.65 1.7-4.6T11 5.1V3h2v2.1q2.6.35 4.3 2.3T19 12v2zm2-2h10q0-2.075-1.463-3.537T12 7T8.463 8.463T7 12m1 9q-.425 0-.712-.288T7 20t.288-.712T8 19t.713.288T9 20t-.288.713T8 21m4 0q-.425 0-.712-.288T11 20t.288-.712T12 19t.713.288T13 20t-.288.713T12 21m4 0q-.425 0-.712-.288T15 20t.288-.712T16 19t.713.288T17 20t-.288.713T16 21m-4-9"></path></svg></template></iconify-icon>
                    <div class="ms-4">
                      <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Bath</h3>
                      <p>5</p>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <iconify-icon icon="fluent-mdl2:date-time-2" class="property-icon border p-3"><template shadowrootmode="open"><style data-style="data-style">:host{display:inline-block;vertical-align:0}span,svg{display:block}</style><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 2048 2048"><path fill="currentColor" d="M1792 993q60 41 107 93t81 114t50 131t18 141q0 119-45 224t-124 183t-183 123t-224 46q-91 0-176-27t-156-78t-126-122t-85-157H128V128h256V0h128v128h896V0h128v128h256zM256 256v256h1408V256h-128v128h-128V256H512v128H384V256zm643 1280q-3-31-3-64q0-119 45-224t124-183t183-123t224-46q100 0 192 33V640H256v896zm573 384q93 0 174-35t142-96t96-142t36-175q0-93-35-174t-96-142t-142-96t-175-36q-93 0-174 35t-142 96t-96 142t-36 175q0 93 35 174t96 142t142 96t175 36m64-512h192v128h-320v-384h128z"></path></svg></template></iconify-icon>
                    <div class="ms-4">
                      <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Year Built</h3>
                      <p>2023</p>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <iconify-icon icon="material-symbols:garage-home-outline" class="property-icon border p-3"><template shadowrootmode="open"><style data-style="data-style">:host{display:inline-block;vertical-align:0}span,svg{display:block}</style><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M4 21V9l8-6l8 6v12h-2V10l-6-4.5L6 10v11zm5-2h6v-2H9zm0-4h6v-2H9zm-2 6V11h10v10z"></path></svg></template></iconify-icon>
                    <div class="ms-4">
                      <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Garage</h3>
                      <p>2</p>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <iconify-icon icon="pixelarticons:drop-area" class="property-icon border p-3"><template shadowrootmode="open"><style data-style="data-style">:host{display:inline-block;vertical-align:0}span,svg{display:block}</style><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M5 3H3v2h2zm2 0h2v2H7zm6 0h-2v2h2zm2 0h2v2h-2zm4 0h2v2h-2zM3 7h2v2H3zm2 4H3v2h2zm-2 4h2v2H3zm2 4H3v2h2zm2 0h2v2H7zm6 0h-2v2h2zm6-8h2v2h-2zm2-4h-2v2h2zm-6 10v-2h6v2h-2v2h-2v2h-2zm4 2v2h2v-2z"></path></svg></template></iconify-icon>
                    <div class="ms-4">
                      <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Sqft</h3>
                      <p>1800</p>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <iconify-icon icon="teenyicons:search-property-outline" class="property-icon border p-3"><template shadowrootmode="open"><style data-style="data-style">:host{display:inline-block;vertical-align:0}span,svg{display:block}</style><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15"><path fill="currentColor" d="M4.5 8.5H4a.5.5 0 0 0 .5.5zm4 0V9a.5.5 0 0 0 .5-.5zm0-2.5H9a.5.5 0 0 0-.146-.354zm-2-2l.354-.354a.5.5 0 0 0-.708 0zm-2 2l-.354-.354A.5.5 0 0 0 4 6zm10.354 8.146l-4-4l-.708.708l4 4zM6.5 12A5.5 5.5 0 0 1 1 6.5H0A6.5 6.5 0 0 0 6.5 13zM12 6.5A5.5 5.5 0 0 1 6.5 12v1A6.5 6.5 0 0 0 13 6.5zM6.5 1A5.5 5.5 0 0 1 12 6.5h1A6.5 6.5 0 0 0 6.5 0zm0-1A6.5 6.5 0 0 0 0 6.5h1A5.5 5.5 0 0 1 6.5 1zm-2 9h4V8h-4zM9 8.5V6H8v2.5zm-.146-2.854l-2-2l-.708.708l2 2zm-2.708-2l-2 2l.708.708l2-2zM4 6v2.5h1V6z"></path></svg></template></iconify-icon>
                    <div class="ms-4">
                      <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Property Type</h3>
                      <p>Villa</p>
                    </div>
                  </div>

                </div>

              </div>
        



            </div>
          </article>

        </div>
      </main>
      <aside class="col-md-3">
                <form asp-controller="Sale"
                      asp-action="AddSale"
                      method="post"
                      class="form-group flex-wrap border rounded-4 p-3">

                    <input type="hidden" name="PropertyId" value="@Model.PropertyId" />
                    <input type="hidden" name="TotalPrice" value="@Model.Price" />

                    <h2 class="fs-2 text-uppercase text-black my-3">Rezerve Et</h2>

                    <div class="alert alert-info">
                        Bu ilanı rezerve etmek üzeresiniz.
                    </div>

                    <p><strong>İlan:</strong> @Model.Title</p>
                    <p><strong>Adres:</strong> @Model.Address</p>
                    <p><strong>Fiyat:</strong> @Model.Price.ToString("C", new System.Globalization.CultureInfo("tr-TR"))</p>

                    <div class="d-grid mb-3">
                        <button type="submit"
                                class="btn btn-primary btn-lg text-uppercase btn-rounded-none">
                            Rezerve Et
                        </button>
                    </div>
                </form>
     
     
      </aside>
    </div>
  </div>
